* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1510px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container-lg{
  max-width: 1550px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body{
  font-family: 'Open Sans', sans-serif !important;
}

